html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}



#container {
    width: 100vw;
    height: 100vh;
    background: #f0f0f0;
    cursor: grab;
    position: relative;
}

svg {
    user-select: none;
    display: block;
}

svg {
    & path {
        cursor: pointer;
        transition: opacity 0.5s ease;

        &:hover {
            opacity: 1;
        }
    }
}

#inner {
    transition: transform 0.2s ease-out;
    transform-origin: 0 0;
}